<div id="bararea" style="position: relative; background: url('/media/bararea.png') no-repeat; background-size: contain; width: 600px; height: 600px;">
    {{#each tablesUsed}}
        {{#if (gt @index 17)}} 
        {{#if (lt @index 31)}}
                <a class="table btn btn-primary" id="table{{@index}}" {{#if (eq this 2)}} style="background-color: green; " {{else if this}}style="background-color: red; pointer-events: none;"{{/if}} href="/assign_table/{{../reservInfo.[0].reservID}}/toggletable/table{{@index}}/bararea">{{@index}}</a>
        {{/if}}
        {{/if}}
    {{/each}}
</div>
