{{#if (eq page 'userreserv')}}
<div  id="floorplan">
      <h1>Select Desired Seating Area</h1>
      <a onclick="document.getElementsByName('area')[0].value = 'insidemain'" class="btn btn-primary" id="insidemain">Inside Main Area</a>
      <a onclick="document.getElementsByName('area')[0].value = 'bararea'" class="btn btn-primary" id="bararea">Inside Bar Area</a>
      <br>
      <a onclick="document.getElementsByName('area')[0].value = 'outsidemain'" class="btn btn-primary" id="outsidemain">Outside Main Area</a>
      <a onclick="document.getElementsByName('area')[0].value = 'opensky'" class="btn btn-primary" id="opensky">Outside Open Sky</a>
      <br>
      <a onclick="document.getElementsByName('area')[0].value = 'bythesea'" class="btn btn-primary" id="bythesea">By the sea</a>
    </div>
{{/if}}
{{#if (eq page 'assigntable')}}
<div  id="floorplan">
      {{#each reservInfo}}
      <h1>Select Desired Seating Area</h1>
      <a class="btn btn-primary" id="insidemain" href="/assign_table/{{reservID}}/pickarea/insidemain">Inside Main Area</a>
      <a class="btn btn-primary" id="bararea" href="/assign_table/{{reservID}}/pickarea/bararea">Inside Bar Area</a>
      <br>
      <a class="btn btn-primary" id="outsidemain" href="/assign_table/{{reservID}}/pickarea/outsidemain">Outside Main Area</a>
      <a class="btn btn-primary" id="opensky" href="/assign_table/{{reservID}}/pickarea/opensky">Outside Open Sky</a>
      <br>
      <a class="btn btn-primary" id="bythesea" href="/assign_table/{{reservID}}/pickarea/bythesea">By the sea</a>
    </div>
    {{/each}}
{{/if}}
