<div  id="oldResev">
      <div class="tasks">
          <h1>Old Reservations</h1>
          <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            {{#each info}}
            <li>
              <span>{{reservID}}</span>
              <span>{{date}}</span>
              <span>{{time}}</span>
              <span>{{numofpeople}}</span>
              <a class="btn btn-primary review" href="/review/{{reservID}}">Review</a>
              </li>
              <hr>
            {{/each}}
          </ul>
          
      </div>
    </div>