<div id="insidemain" style="position: relative; background: url('/media/insidemain.png') no-repeat; background-size: contain; width: 600px; height: 600px;">
    {{#each tablesUsed}}
        {{#if @index}}
            {{#if (lt @index 18)}}
                <a class="table btn btn-primary" id="table{{@index}}" {{#if (eq this 2)}} style="background-color: green; " {{else if this}}style="background-color: red; pointer-events: none;"{{/if}} href="/assign_table/{{../reservInfo.[0].reservID}}/toggletable/table{{@index}}/insidemain">{{@index}}</a>
            {{/if}}
        {{/if}}
    {{/each}}
</div>