<div id="myReserv">
        <div class="tasks">
            <h1>Active Reservations</h1>
            {{!-- //TODO Create and position the title of each column --}}
            <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            {{#each info}}
            <li>
              <span>{{reservID}}</span>
              <span>{{date}}</span>
              <span>{{time}}</span>
              <span>{{numofpeople}}</span>
              <a href="/reservation/edit/{{reservID}}" class="btn btn-primary edit">Edit</a>
              <a href="/reservation/cancel/{{reservID}}" class="btn btn-primary cancel">Cancel</a>
              </li>
              <hr>
            {{/each}}
            </ul>
    </div>
</div>