{{>adminnav loggname=loggname}}
<div id="pagebody">
<div class="container" id="pendinglist">
        <div class="tasks">
            <h1>Reservation Requests</h1>
            
            <div class="equal-spacing2">
              <span>Reserv. Id</span>
              <span>User</span>
              <span>Date</span>
              <span>Time</span>
              <span>People In Resv.</span>
              </div> 
            <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
              {{#if active_reservations}}
              {{#each active_reservations}}
                <li>
                  <div class="equal-spacing">
                    <span>{{reservID}}</span>
                    <span>{{username}}</span>
                    <span>{{formatDate date}}</span>
                    <span>{{time}}</span>
                    <span>{{numofpeople}}</span>
              </div>
                
                  <a href="assign_table/{{reservID}}" class="btn btn-primary assign">Assign Table</a>
                  <a class="btn btn-primary reject" href="change_status/{{reservID}}/rejected">Reject</a>
                  </li>
                  <hr>
              {{/each}}
              {{else}}
              <li>
                  <div class="equal-spacing2">
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
              </div>
              </li>
              {{/if}} 
            </ul>
            <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
            <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
    </div>
    </div>
    <div class="container" id="confirmedlist">
      <div class="tasks">
          <h1>Confirmed Reservations</h1>
          <div class="equal-spacing2">
              <span>Reserv. Id</span>
              <span>User</span>
              <span>Date</span>
              <span>Time</span>
              <span>People In Resv.</span>
              </div>  
          <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            {{#if confirmed_reservations}}
            {{#each confirmed_reservations}}
             <li>
              <div class="equal-spacing">
              <span>{{reservID}}</span>
                    <span>{{username}}</span>
                    <span>{{formatDate date}}</span>
                    <span>{{time}}</span>
                    <span>{{numofpeople}}</span>
              </div>
              <a class="btn btn-primary edit" href = "assign_table/{{reservID}}">Edit</a>
              <a class="btn btn-primary remove" href = "change_status/{{reservID}}/rejected">Remove</a>
              </li>
              <hr>
              {{/each}} 
              {{else}}
              <li>
                  <div class="equal-spacing2">
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
              </div>
              </li>
              {{/if}} 
          </ul>
          <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
          <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
  </div>
  </div>

  <div class="container" id="changeslist">
    <div class="tasks">
        <h1>Changed Reservations</h1>
        <div class="equal-spacing2">
              <span>Reserv. Id</span>
              <span>User</span>
              <span>Date</span>
              <span>Time</span>
              <span>People In Resv.</span>
              </div> 
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
          {{#if changed_reservations}}
            {{#each changed_reservations}}
             <li>
              <div class="equal-spacing">
              <span>{{reservID}}</span>
                    <span>{{username}}</span>
                    <span>{{formatDate date}}</span>
                    <span>{{time}}</span>
                    <span>{{numofpeople}}</span>
              </div>
              <a class="btn btn-primary edit" href = "assign_table/{{reservID}}">Edit</a>
              <a class="btn btn-primary remove" href = "change_status/{{reservID}}/rejected">Remove</a>
              </li>
              <hr>
              {{/each}} 
              {{else}}
              <li>
                  <div class="equal-spacing2">
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
              </div>
              </li>
              {{/if}} 
          </ul>
    </div>
  <div class="container" id="cancelledlist">
    <div class="tasks">
        <h1>Cancelled Reservations</h1>
        <div class="equal-spacing2">
              <span>Reserv. Id</span>
              <span>User</span>
              <span>Date</span>
              <span>Time</span>
              <span>People In Resv.</span>
              </div> 
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
          {{#if cancelled_reservations}}
            {{#each cancelled_reservations}}
             <li>
              <div class="equal-spacing">
              <span>{{reservID}}</span>
                    <span>{{username}}</span>
                    <span>{{formatDate date}}</span>
                    <span>{{time}}</span>
                    <span>{{numofpeople}}</span>
              </div>
              <a class="btn btn-primary permdel" href = "delete_resv/{{reservID}}/">Permanently Delete</a>
              </li>
              <hr>
              {{/each}} 
              {{else}}
              <li>
                  <div class="equal-spacing2">
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
              </div>
              </li>
              {{/if}} 
          </ul>
    </div>

    <div class="container" id="rejectedlist">
    <div class="tasks">
        <h1>Rejected Reservations</h1>
        <div class="equal-spacing2">
              <span>Reserv. Id</span>
              <span>User</span>
              <span>Date</span>
              <span>Time</span>
              <span>People In Resv.</span>
              </div> 
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
          {{#if rejected_reservations}}
            {{#each rejected_reservations}}
             <li>
              <div class="equal-spacing">
              <span>{{reservID}}</span>
                    <span>{{username}}</span>
                    <span>{{formatDate date}}</span>
                    <span>{{time}}</span>
                    <span>{{numofpeople}}</span>
              </div>
              <a class="btn btn-primary add_reason" href = "add_reason/{{reservID}}">Add Reason</a>
              <a class="btn btn-primary make_active" href = "change_status/{{reservID}}/active">Reinstall Status</a>
              <a class="btn btn-primary delete" href = "delete_resv/{{reservID}}">Permanently Delete</a>
              </li>
              <hr>
              {{/each}} 
              {{else}}
              <li>
                  <div class="equal-spacing2">
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
                    <span style="color:white">-</span>
              </div>
              </li>
              {{/if}} 
          </ul>
    </div>
        <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
        <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
</div>
</div>