{{>adminnav loggname=loggname}}
<div id="pagebody">
<div id="adminmenupg">
    <h1>Manage Menu</h1>
    <div class="container" id="activemenu">
        <h2>Current Menu</h2>
        <ul class="task-list menuheader">
        <li>
                <span>Food Name</span>
                <span>Price</span>
                <span>Actions</span>
        </li>
        </ul>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            {{#each foodsactive}}
            <li>
                <span>{{this.foodname}}</span>
                <span>{{this.price}}</span>
                <a class="btn btn-primary edit" href="/addFoodItem/{{this.itemID}}">Edit</a>
                <a class="btn btn-primary remove" href="removeItem/{{this.itemID}}">Remove</a>
            </li>
            <hr>
            {{/each}}
        </ul>
    </div> 
    <hr>
    <div class="container" id="fooditems">
        <div style="display: flex" id="newitemhead">
            <h2 style="margin-right:auto">Food Items not on menu</h2>
            <a class="btn btn-primary newitembtn" href="/addFoodItem">Create New</a>
        </div>
        <ul class="task-list menuheader">
        <li>
                <span>Food Name</span>
                <span>Price</span>
                <span>Actions</span>
        </li>
        </ul>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            {{#each foodsinactive}}
            <li>
                <span>{{this.foodname}}</span>
                <span>{{this.price}}</span>
                <a class="btn btn-primary movetomenu" href="/addOnMenu/{{this.itemID}}">Move to Menu</a>
                <a class="btn btn-primary edit" href="/addFoodItem/{{this.itemID}}">Edit</a>
                {{!-- <button class="btn btn-primary remove">Remove</button> --}}
                <a class="btn btn-primary delete" href="deleteItem/{{this.itemID}}">Delete</a>
            </li>
            <hr>
            {{/each}}
        </ul>
    </div>
</div>
</div>