{{>adminnav loggname=loggname}}
<div id="pagebody">
<div class="container" id="pendinglist">
        <div class="tasks">
            <h1>Reservation Requests</h1>
            <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
              {{#each active_reservations}}
                <li>
                  <span>{{username}}</span>
                  <span>{{date}}</span>
                  <span>{{time}}</span>
                  <span>{{people}}</span>
                  {{#if (neq tableID 'null')}}
                    <span>{{tableID}}</span>
                  {{else}}
                      <span>Not Assigned</span>
                  {{/if}}
                  <a href="assign_table/{{reservID}}" class="btn btn-primary edit">Assign Table</a>
                  <a class="btn btn-primary remove" href="reject_resv/{{reservID}}" class="btn btn-primary edit">Reject</a>
                  <button class="btn btn-primary approve">Approve</button>
                  </li>
                  <hr>
              {{/each}} 
            </ul>
            <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
            <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
    </div>
    </div>
    <div class="container" id="confirmedlist">
      <div class="tasks">
          <h1>Confirmed Reservations</h1>
          <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            {{#each confirmed_reservations}}
             <li>
              <span>{{username}}</span>
              <span>{{date}}</span>
              <span>{{time}}</span>
              <span>{{people}}</span>
              <a class="btn btn-primary edit" href = "assign_table/{{reservID}}">Edit</a>
              <a class="btn btn-primary remove" href = "reject_resv/{{reservID}}">Remove</a>
              </li>
              <hr>
              {{/each}} 
          </ul>
          <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
          <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
  </div>
  </div>
  <div class="container" id="changeslist">
    <div class="tasks">
        <h1>Changes Requests</h1>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
           <li>
            <span>Να διαβάσω JS</span>
            <button class="btn btn-primary remove">Cancel</button>
              <button class="btn btn-primary approve">Approve Changes</button>
            </li>
            <hr>
        </ul>
    </div>
        <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
        <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
</div>
</div>