{{>adminnav loggname=loggname}}
<div id="pagebody">
    {{#each reservInfo}}
        <div style="display:flex;">
            <p style="margin-right:auto">{{username}}</p>
            <p style="margin-right:auto">{{date}}</p>
            <p style="margin-right:auto">{{time}}</p>
            <p style="margin-right:auto">{{numofpeople}}</p>
            <p style="margin-right:auto">{{desired_area}}</p>
        </div>
    {{/each}}
    <div class="assign_table_container">
        <div class="assign_table" id="floorplan_assign">
        {{>floorplan page='assigntable' reservID=reservInfo.reservID}}
        </div>
        {{#if (eq area_id "insidemain")}}
        <div class="assign_table" id="inside_assign">
        {{>insidemain}}
        </div>
        {{/if}}

        {{#if (eq area_id "bararea")}}
        <div class="assign_table" id="inside_assign">

        {{>bararea}}
        </div>
        {{/if}}

        {{#if (eq area_id "outsidemain")}}
        <div class="assign_table" id="inside_assign">
        
        {{>outsidemain}}
        </div>
        {{/if}}

        {{#if (eq area_id "opensky")}}
        <div class="assign_table" id="inside_assign">

        {{>opensky}}
        </div>
        {{/if}}

        {{#if (eq area_id "bythesea")}}
        <div class="assign_table" id="inside_assign">

        {{>bythesea}}
        </div>
        {{/if}}
        <div id = "assign_back_btn"><a class = "btn btn-primary" href="/adminreserv">Back</a></div>
        <div id = "assign_approve_btn" ><a class = "btn btn-primary" href="/change_status/{{reservInfo.[0].reservID}}/confirmed" style = "background-color: green;" >Approve</a></div>
    </div>
    
</div>
