<h1 style="padding-top: 5rem;">Menu</h1>
<div class = "centered"><p id = "menu_text">
    Welcome to Fagadiko's culinary sanctuary, where each dish is a masterpiece crafted with passion and precision. Our menu reflects a harmonious blend of traditional Greek flavors and innovative culinary techniques, sourced from the finest local ingredients. From appetizers to desserts, every dish is an ode to the rich gastronomic heritage of Patras, inviting you to savor the essence of our region with every bite. Explore our menu and embark on a culinary adventure that promises to delight your palate and ignite your senses.
</p></div>
<div id="menu_list">
    <ul>
        {{#each foods}}
            <li>
                <div><img src="{{this.img}}" alt="{{this.name}}" style="width: 200px; height: 200px;"></div>
                <div id="food_name">{{this.name}} - {{this.price}} <p id="food_description"> {{this.description}}</p> </div>
                </li>
        {{/each}}
    </ul>
</div>