{{>navbar loggname=loggname}}
<div id="pagebody">
{{!-- //TODO fix the padding tops to look nice --}}
<div id="reservationpg">
<div  id="txtandform">
  {{#unless has_active_reserv}}
      <h1>{{#if reservInfo}}Edit your Reservation {{else}}Make a Reservation{{/if}}</h1>
      <div id="registerform">
        <form action = "/reservation/{{reservInfo.[0].reservID}}" method = "post" id = "reservationForm">
          <fieldset>
              <legend>When?</legend>
              <div class="form-field">
                  <label for="date">Date:</label>
                  <input type="text" class="form-control" id="date" name="date" placeholder="mm/dd/yyyy" value="{{#if reservInfo}}{{reservInfo.[0].date}}{{/if}}"
                  onfocus="(this.type='date')"
                  onblur="if(this.value === '') { this.type='text' }">
    
              </div>
              <div class="form-field">
                  <label for="time">Time:</label>
                  <input type="text" class="form-control" id="time" name="time" placeholder="--:-- --" value="{{#if reservInfo}}{{reservInfo.[0].time}}{{/if}}"
                  onfocus="(this.type='time')"
                  onblur="if(this.value === '') { this.type='text' }">
              </div>
            </fieldset>
            <fieldset>
              <legend>For who?</legend>
              <div class="form-field">
                  <input type="number" class="form-control" id="people" name="people" {{#if reservInfo}}placeholder = {{reservInfo.[0].numofpeople}} {{else}} placeholder="Number of people" {{/if}}>
              </div>
            </fieldset>
            <fieldset>
              <legend>Desired Area</legend>
              <div class="form-field">
                <input type="dropdown" class="form-control" name="area" {{#if reservInfo}}placeholder = {{reservInfo.[0].desired_area}} {{else}} placeholder="Select from the plan on the side" {{/if}} >
              </div>
            </fieldset>
            <fieldset>
              <legend>Special Demands</legend>
              <div class="form-field">
                  <textarea id="comments" class="form-control" name="comments" placeholder="Feel free to tell us" >{{#if reservInfo}}{{reservInfo.comments}}{{/if}}</textarea>
              </div>
            </fieldset>
             
            <div class="form-field">
              <input class="btn btn-primary" id="makereservbtn" type="submit" value="Make Reservation">
          </div>
        </form>
        {{!-- <script>
            document.getElementById('reservationForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting normally

                fetch('/reservation', {
                    method: 'POST',
                    body: new FormData(event.target) // Send the form data in the request
                })
                .then(response => response.json())
    .then(data => {
        if (data.showAlert) {
            alert(data.message);
        }
    })
    .catch(error => console.error('Error:', error));
});
document.getElementById('reservationForm').reset()
            </script> --}}
    </div>
</div>
  {{>floorplan page='userreserv'}}  
</div>
{{/unless}}
{{#if has_active_reserv}}
    <h1>You already have an active reservation</h1>
    <div>You can review it here</div>
    <div><a href = "/login">My Profile</a></div>
{{/if}}
</div>
{{!-- <div id="shop_logo">
    <img src="/media/fagadiko_notext.jpg">
</div> --}}

