{{>navbar loggname=loggname}}
<div id="pagebody">
{{!-- //TODO fix the padding tops to look nice --}}
<div id="reservationpg">
<div  id="txtandform">
  {{#unless has_active_reserv}}
      <h1>{{#if reservInfo}}Edit Reservation {{else}}Make a Reservation{{/if}}</h1>
     
      <div id="registerform">
         {{#if reservInfo}}
        <form action = "/reservation/edit/{{reservInfo.[0].reservID}}" method = "post" id = "reservationForm">
          <fieldset>
              <legend>When?</legend>
              <div class="form-field">
                  <label for="date">Date:</label>
                  <input type="text" class="form-control" id="date" name="date" placeholder="mm/dd/yyyy" value="{{reservInfo.[0].date}}"
                  onfocus="(this.type='date')"
                  onblur="if(this.value === '') { this.type='text' }">
                  {{!-- //TODO this is the reason the update doesnt work. the format to make the placeholder is wrong --}}
              </div>
              <div class="form-field">
                  <label for="time">Time:</label>
                  <input type="time" class="form-control" id="time" name="time" placeholder="--:-- --" value="{{#if reservInfo}}{{reservInfo.[0].time}}{{/if}}"
                  onfocus="(this.type='time')"
                  onblur="if(this.value === '') { this.type='text' }">
              </div>
            </fieldset>
            <fieldset>
              <legend>For who?</legend>
              <div class="form-field">
                  <input type="number" class="form-control" id="people" name="people" {{#if reservInfo}} value = {{reservInfo.[0].numofpeople}} {{else}} placeholder="Number of people" {{/if}}>
              </div>
            </fieldset>
            <fieldset>
              <legend>Desired Area</legend>
              <div class="form-field">
                <input type="dropdown" class="form-control" name="area" {{#if reservInfo}} value = {{reservInfo.[0].desired_area}} {{else}} placeholder="Select from the plan on the side" {{/if}} >
              </div>
            </fieldset>
            <fieldset>
              <legend>Special Demands</legend>
              <div class="form-field">
                  <textarea id="comments" class="form-control" name="comments" placeholder="Feel free to tell us" {{#if reservInfo}} value = {{reservInfo.[0].comments}} {{/if}}>{{#if reservInfo}}{{reservInfo.[0].comments}}{{/if}}</textarea>
              </div>
            </fieldset>
             
            <div class="form-field">
              <input class="btn btn-primary" id="makereservbtn" type="submit" value="Make Reservation">
          </div>
        </form>
        {{else}}
          <form action = "/reservation" method = "post" id = "reservationForm">
          <fieldset>
              <legend>When?</legend>
              <div class="form-field">
                  <label for="date">Date:</label>
                  <input type="text" class="form-control" id="date" name="date" placeholder="mm/dd/yyyy" value="{{#if reservInfo}}{{reservInfo.[0].date}}{{/if}}"
                  onfocus="(this.type='date')"
                  onblur="if(this.value === '') { this.type='text' }">
    
              </div>
              <div class="form-field">
                  <label for="time">Time:</label>
                  <input type="text" class="form-control" id="time" name="time" placeholder="--:-- --" value="{{#if reservInfo}}{{reservInfo.[0].time}}{{/if}}"
                  onfocus="(this.type='time')"
                  onblur="if(this.value === '') { this.type='text' }">
              </div>
            </fieldset>
            <fieldset>
              <legend>For who?</legend>
              <div class="form-field">
                  <input type="number" class="form-control" id="people" name="people" {{#if reservInfo}}placeholder = {{reservInfo.[0].numofpeople}} {{else}} placeholder="Number of people" {{/if}}>
              </div>
            </fieldset>
            <fieldset>
              <legend>Desired Area</legend>
              <div class="form-field">
                <input type="dropdown" class="form-control" name="area" {{#if reservInfo}}placeholder = {{reservInfo.[0].desired_area}} {{else}} placeholder="Select from the plan on the side" {{/if}} >
              </div>
            </fieldset>
            <fieldset>
              <legend>Special Demands</legend>
              <div class="form-field">
                  <textarea id="comments" class="form-control" name="comments" placeholder="Feel free to tell us" >{{#if reservInfo}}{{reservInfo.[0].comments}}{{/if}}</textarea>
              </div>
            </fieldset>
             
            <div class="form-field">
              <input class="btn btn-primary" id="makereservbtn" type="submit" value="Make Reservation">
          </div>
        </form>
        {{/if}}
    </div>
</div>
  {{>floorplan page='userreserv'}}  
</div>
{{/unless}}
{{#if has_active_reserv}}
    <h1>You already have an active reservation</h1>
    <div>You can review it here</div>
    <div><a href = "/login">My Profile</a></div>
{{/if}}
</div>
 <script>
    let datetoshow={{reservInfo.[0].date}}
    console.log("datetoshow");
    let formattedDate = new Date(datetoshow).toISOString().split('T')[0];
    document.getElementById("date").value = formattedDate;
</script>


